---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="404 - Página no encontrada">
    <main class="py-16 flex flex-col grow items-center justify-center min-h-[60vh]">
        <h1 class="text-5xl md:text-6xl font-extrabold text-white mb-4 text-center">
            404 - Página no encontrada
        </h1>
        <p class="text-base md:text-xl text-indigo-200 mb-8 text-center">
            Lo sentimos, la página que buscas no existe.
        </p>

    </main>
</Layout>