---
import Layout from '../layouts/Layout.astro';


---

<Layout title="Tarea 5 : Astro">
  <main class="py-16 flex flex-col grow items-center justify-center">
      <h1 class="text-4xl md:text-5xl font-extrabold text-white mb-4">Bienvenido a la Tarea 5: Astro</h1>
      <p class="text-lg md:text-xl text-indigo-200 mb-8">
        Explora las funcionalidades de Astro con ejemplos modernos y responsivos.
      </p>
      <div class="flex flex-wrap gap-4 justify-center">
        <a href="/islands" class="bg-green-600 hover:bg-gray-800 text-white font-semibold py-3 px-6 rounded-lg shadow transition duration-200 flex items-center gap-2">
           islands
        </a>
        <a href="/collections" class="bg-purple-600 hover:bg-purple-700 text-white font-semibold py-3 px-6 rounded-lg shadow transition duration-200 flex items-center gap-2">
          <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"><path d="M3 7h18M3 12h18M3 17h18"></path></svg>
          Collections
        </a>
        <a href="/demo" class="bg-gray-700 hover:bg-gray-800 text-white font-semibold py-3 px-6 rounded-lg shadow transition duration-200 flex items-center gap-2">
          <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"><path d="M15 10l4.553 2.276A2 2 0 0121 14.118V17a2 2 0 01-2 2H5a2 2 0 01-2-2v-2.882a2 2 0 01.447-1.842L8 10"></path></svg>
           SSG Demo
        </a>
      </div>
  </main>
  
</Layout>