---
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';
import MoviesGrid from '@/components/movies/MovieGrid.astro';

const movies = await getCollection('movies');

export const prerender = true;
---

<Layout title="Galería de Películas - MoviesWorld" description="Explora nuestra colección de películas destacadas">
  <section class="container mx-auto px-4 py-8 max-w-7xl">
    <h1 class="text-3xl font-bold text-gray-800 mb-6">Galería de Películas</h1>
    <MoviesGrid movies={movies} />
  </section>
</Layout>
