---
import Intro from "@/components/intro/directives/intro.astro";
import Table from "@/components/intro/directives/table.astro";
import ClassListDemoExample  from "@/components/intro/directives/clientListExample.astro";
---
<section class="py-20 w-full">
    <Intro />
    <Table />
    <ClassListDemoExample />  
</section>