---
import '@/styles/global.css';
import Navbar from '@/layouts/Navbar.svelte';
import HighlightToggle from '@/components/highlightIslandToggle.astro';
import { ClientRouter } from 'astro:transitions';

export interface Props {
  title: string;
  description?: string;
}

const { title, description = "Astro Demo" } = Astro.props;
---
<!doctype html>
<html lang="es" data-highlight="false">
  <head>
    <meta charset="UTF-8" />
    <meta name={description} content="Aprende Astro: Collections, SSG, Directivas e Islas" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="bg-gradient-to-br from-gray-900 via-purple-900 to-gray-900 min-h-screen flex flex-col text-white debug-islands">
    <Navbar client:load />
    <main  class="flex-grow py-16 flex flex-col items-center justify-center">
      <div class="absolute inset-0 overflow-hidden">
      {[...Array(25)].map((_) => (
        <div 
          class="absolute rounded-full bg-indigo-500 opacity-20 animate-bounce "
          style={`
            width: ${Math.random() * 10 + 5}px;
            height: ${Math.random() * 10 + 5}px;
            top: ${Math.random() * 100}%;
            left: ${Math.random() * 100}%;
          `}
        />
      ))}
    </div>
      <slot />
    </main>
    { 
      // current is not de index page
      Astro.url.pathname !== '/'
     && <HighlightToggle />
    }
  </body>
</html>

